<!DOCTYPE html>
<html>

    <head>
      <title>{{ page.title }}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.3.1/gridlex.min.css">
        <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Poiret+One" rel="stylesheet">
        <script src="https://use.fontawesome.com/b41a9d90be.js"></script>
        <link href="main.css" rel="stylesheet" type="text/css" />
    </head>


    <body>

        <div class="gifhead">
            <header>
                <div>
                    PLACHOLDER IMAGE
                </div>
                <nav>
                    <a href="nope"> LINK 1</a>
                    <a href="nope"> LINK 2</a>
                </nav>
            </header>

            <section class="top">

                    <div>
                        <h1>
                            <div> Sarah Judge </div>
                                  Serial....
                        </h1>

                        <p> New York </p>
                    </div>

            </section>
          </div>
            {{content}}




                        <footer>



                                <h2> CONTACT ME</h2>
                                <div>
                                    <label for="name">Your Name </label>
                                    <input type="name" name="name" placeholder="Your Name">
                                </div>

                                    <form method="POST" action="http://formspree.io/iam_sarahj@yahoo.com">
                                <div>
                                        <label for="email"> Your Email</label>
                                        <input type="email" name="email" placeholder="Your email">
                                </div>
                                <div>
                                    <label for= "Message"> Message</label>
                                    <textarea name="message" placeholder="Your message"></textarea>
                                    <button type="submit">Send</button>
                                </div>
                                    </form>



                                <div class="icons">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                    <i class="fa fa-flickr" aria-hidden="true"></i>
                                    <i class="fa fa-tumblr" aria-hidden="true"></i>
                                </div>

                                </footer>


                            </body>

                    </html>
